* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.nav-line::after {
    content: '';
    width: 0%;
    left: 50%;
    height: 2px;
    background-color: #00EAC7;
    position: absolute;
    bottom: -10%;
    transition: all 300ms ease-in-out;
}

.nav-line:hover::after {
    left: 0;
    width: 100%;
    color: #00EAC7;
}

.text-color-white {
    color: #ffffff;
}

.text-color-white:hover {
    color: #00EAC7;
}

.bg-color {
    background-color: #111b24;
}

.max-w-342 {
    max-width: 342px;
}

.button-1 {
    background: #00EAC7;
    border-radius: 48px;
    border: none;
    padding: 10px 28px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.button-1:hover {
    transform: translateY(-5px);

}

.discord:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.telygram:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.twitter:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.in:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.monkey:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.youtube:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.instagram:hover {
    transform: translateY(-5px);
    transition: all 400ms ease-in-out;
}

.max-w-360 {
    max-width: 360px;
}

.max-w-410 {
    max-width: 410px;
}

.max-w-475 {
    max-width: 475px;
}

.button-img {
    color: #00ccab !important;
}

.button-2 {
    background: #0F3034;
    border-radius: 48px;
    width: 191px;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button-2:hover {
    box-shadow: 0px 4px 20px 0px #354135;
    border-radius: 48px;
    width: 191px;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    transform: scale(1.02);

}

.button-3 {
    background: #0F3034;
    border-radius: 48px;
    padding: 12px 26px;
    border: none;
    transition: all 300ms ease-in-out;
}

.button-3:hover {
    box-shadow: 0px 4px 20px 0px #354135;
    transform: translateY(-5px);

}

.button-5 {
    background-color: #00EAC7;
    border-radius: 48px;
    padding: 10px 16px;
}

.button-4 {
    background: #0F3034;
    border-radius: 48px 0px 0px 48px;
    padding: 15px 15px 15px 30px;
    width: 130px;
    position: absolute;
    right: -24%;
    margin-bottom: 20px;
    transition: all 300ms ease-in-out;
}

.button-4:hover {
    box-shadow: 0px 0px 20px 0px #02cf98;
    right: 0;

}



.button-6 {
    background: #0F3034;
    border-radius: 48px;
    padding: 16px 25px;
    cursor: pointer;
    border: none;
    transition: all 300ms;
}

.button-6:hover {
    box-shadow: 0px 8px 35px rgba(154, 237, 166, 0.1);
    transform: translateY(-5px);

}

.image-7 {
    max-width: 417px;
    max-height: 417px;
}

.bg-img-1 {
    background-repeat: repeat;
    background-size: cover;
    background-image: url(/assets/img/png/bg-img-1.png);
    background-size: 100% 100% !important;
}

.bg-img-2 {
    background-repeat: repeat;
    background-size: cover;
    background-image: url(/assets/img/png/bg-img-2.png);
    background-size: 100% 100% !important;
}

.bg-img-3 {
    background-repeat: repeat;
    background-size: cover;
    background-image: url(/assets/img/png/bg-img-3.png);
    background-size: 100% 100% !important;
}

.bg-img-4 {
    background-repeat: repeat;
    background-size: cover;
    background-image: url(/assets/img/png/bg-img-4.png);
    background-size: 100% 100% !important;
}

.bg-img-5 {
    background-repeat: repeat;
    background-size: cover;
    background-image: url(/assets/img/png/bg-img-5.png);
    background-size: 100% 100% !important;
}

.your-email {
    background: #0F171F;
    border: 1px solid #16232E;
    border-radius: 2px 48px 48px 2px;
    max-width: 368px;
}

.inter-email {
    color: white;
    background-color: transparent;
    border: none;
    padding-left: 12px;
    outline: none;
}



.border-line {
    background-color: rgb(110, 106, 106);
    height: 1px;
    max-width: 100%;
}

.max-w-552 {
    max-width: 552px;
}

.max-w-409 {
    max-width: 409px;
}

.max-w-236 {
    max-width: 236px;
}

.max-w-339 {
    max-width: 339px;
}

.line-2 {
    background-color: #00ccab;
    width: 2px;
    height: 92px;
    margin-left: 30px;
    margin-top: 8px;
    margin-right: 20px;
}

.line-1 {
    background-color: #00ccab;
    width: 3px;
    height: 51px;
    margin-left: 30px;
    margin-top: 28px;
    margin-right: 20px;
}

.card-1 {
    background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0) 100%);
    border: 1px solid #1B2B38;
    border-radius: 2px;
    max-width: 640px;
    min-height: 385px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card-1:hover {
    background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0) 100%);
    border: 1px solid #1B2B38;
    border-radius: 2px;
    max-width: 640px;
    min-height: 385px;
    cursor: pointer;
    box-shadow: 0px 8px 35px rgba(154, 237, 166, 0.1);
    transform: translateY(-5px);

}


.card-2 {
    background: radial-gradient(50% 50% at 50% 50%, #182733 0%, #14202A 100%);
    border: 1px solid #1B2B38;
    max-width: 660px;
    min-width: 194px;
    top: 56%;
    right: 0%;
    cursor: pointer;
}

.card-3 {
    background: radial-gradient(50% 50% at 50% 50%, #182733 0%, #14202A 100%);
    border: 1px solid #1B2B38;
    max-width: 660px;
    min-height: 166px;
    top: 58%;
    left: 0%;
    cursor: pointer;
}

.card-4 {
    background: radial-gradient(50% 50% at 50% 50%, #182733 0%, #14202A 100%);
    border: 1px solid #1B2B38;
    max-width: 660px;
    min-height: 166px;
    top: 54%;
    right: 0%;
    cursor: pointer;
}

.card-5 {
    background: linear-gradient(90.25deg, #14202A 0.24%, rgba(20, 32, 42, 0) 99.79%);
    border: 2px solid #1B2B38;
    max-width: 315px;
    min-height: 325px;
    cursor: pointer;
}

.card-6 {
    border: 1px solid #1B2B38;
    border-radius: 2px;
    max-width: 576px;
    min-height: 204px;
    padding: 16px;
    cursor: pointer;
}

.card-6:hover {
    box-shadow: 0px 4px 20px 0px #354135;

}

.fs-14 {
    font-size: 14px;
}

.image-5 {
    transition: all 300ms ease-in-out;
}

.image-5:hover {
    transform: scale(1.2);
    height: 100%;

}

.footer-line {
    background-color: rgba(255, 255, 255, 0.07);
    height: 1px;
    max-width: 526px;
}

.cursor-p {
    cursor: pointer;
}

.min-vh-60 {
    min-height: 60vh;
}

.max-w-379 {
    max-width: 379px;
}

.card-set {
    position: absolute;
    top: 34%;
    display: flex;
    justify-content: center;
}

.slick-dots li button:before {
    color: white !important;
}

.slick-slider .element {
    height: 100px;
    width: 100px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
}

.slick-slider .slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 5;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
    display: none;
}

.bg-box {
    background: #14202A;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 2px;
    padding: 13px 0px 13px 17px;
    cursor: pointer;
}

.slick-slider-2 .element {

    border-radius: 5px;
    display: inline-block;
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.slick-slider-2 .slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.slick-slide-2.slick-center img {
    transform: scale(2.1);
}

#button {
    display: inline-block;
    background-color: #02cf98;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: -20px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "^";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {

    #button {
        margin: 30px;
    }
}



@media (max-width: 992px) {
    label[for="iconbox"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        z-index: 3;
        justify-content: space-between;
        flex-direction: column;
    }

    label[for="iconbox"]>span {
        width: 100%;
        height: 4px;
        background-color: blue;
    }

    .lg-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #111b24;
        position: fixed;
        top: 0;
        z-index: 2;
        left: -100%;
        opacity: 1;
        pointer-events: none;
        transition: all 300ms linear;
    }

    input[type="checkbox"]:checked+div.lg-screen {
        opacity: 1;
        left: 0;
        pointer-events: all;
    }

    .d-n {
        display: none;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .mt-48 {
        margin-top: 48px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .js-center {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .mt-35 {
        margin-top: 35px;
    }
}

@media (min-width:320px) {

    .card-3 {
        position: none;
    }

    .card-2 {
        position: none;
    }

    .card-4 {
        position: none;
    }

}

@media (min-width:768px) {
    .card-3 {
        position: absolute;
    }

    .card-2 {
        position: absolute;
    }

    .card-4 {
        position: absolute;
    }
}